.form-wrapper {
  padding: 64px;
}
.form {
  max-width: 864px;
  height: 545px;
  margin: auto;
  background: #f8f8fa;
  box-shadow: 0px 0px 16px rgba(16, 16, 16, 0.16);
  border-radius: 24px;
  .formControl {
    max-width: 256px;
    margin: 0 auto 24px auto;
  }
  .forgot {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-top: 12px;
    display: inline-block;
  }
  .submit {
    :global {
      .MuiButton-root {
        margin-top: 18px;
      }
    }
  }
  .keep {
    :global {
      .MuiFormControlLabel-label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #5a6372;
      }
    }
  }
  .create {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #5a6372;
    margin-top: 8px;
  }
  :global {
    .MuiGrid-container {
      height: 100%;
    }
    .slick-slider {
      height: 100%;
      .step_slide {
        height: 545px;
      }
    }
    form {
      height: 100%;
      background-color: #fff;
      overflow: hidden;
      padding: 56px 24px 70px 24px;
      h2 {
        max-width: 320px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2d3543;
        margin: 0 auto 32px auto;
        b {
          font-weight: 800;
        }
      }
    }
  }
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2d3543;
  margin: 0;
  padding: 0;
}
.featuresList {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-left: 48px;
    background: url("../../assets/img/icon-tag.svg") no-repeat left top / 32px
      32px;
    margin-bottom: 24px;
    b {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: #2d3543;
      display: block;
      margin-bottom: 8px;
    }
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #2d3543;
      display: block;
    }
  }
}

.featuresBox {
  position: relative;
  &::after {
    content: "";
    display: block;
    height: 85px;
    background: #c4c4c4;
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
  }
}

.password {
  :global {
    .MuiIconButton-root {
      padding: 6px;
    }
    .MuiSvgIcon-root {
      width: 16px;
      height: 16px;
    }
  }
}
