.listing_container {
  margin-top: 104px;
  .breads {
    li {
      &:last-child {
        a {
          color: #3360ad;
        }
      }
    }
    .title {
      font-weight: 800;
      font-size: 48px;
      font-style: normal;
      color: #474f5c;
      margin-top: 8px;
    }
  }
  .popular_categories {
    .title {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0.02em;
        color: #2d3543;
        margin-right: 16px;
      }
      a {
        margin-top: 4px;
      }
    }
    :global {
      .slick-slider {
        position: relative;
        margin-top: 18px;
        .slick-arrow {
          position: absolute;
          &.slick-prev {
            &:before {
              content: '';
            }
            right: 35px;
            left: auto;
            top: -73px;
          }
          &.slick-next {
            &:before {
              content: '';
            }
            right: 0px;
            top: -73px;
          }
          &.slick-disabled {
            pointer-events: none;
            svg {
              rect {
                stroke: #7e8aa0;
              }
              g {
                path {
                  fill: #7e8aa0;
                }
              }
            }
          }
          svg {
            rect {
              stroke: #3360ad;
            }
            g {
              path {
                fill: #3360ad;
              }
            }
          }
        }
      }
    }
    .slider_outer {
      :global {
        .slick-list {
          height: 390px;
          padding-top: 30px;
        }
        .card {
          display: flex !important;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex-direction: column;
        }
      }
      .inner_card {
        min-width: 304px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 24px;
        background: #ffffff;
        box-shadow: 0px 0px 16px rgba(16, 16, 16, 0.16);
        border-radius: 8px;
        .title {
          text-align: center;
          width: 100%;
          margin-top: 32px;
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          color: #2d3543;
        }
      }
    }
  }
  .brands {
    .top_brands {
      margin-top: 100px;
      .block {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-style: normal;
          font-weight: 800;
          font-size: 28px;
          letter-spacing: 0.02em;
          color: #2d3543;
        }
        a {
          margin-top: 7px;
          margin-left: 16px;
        }
      }
    }
    .logo_brands {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .cards {
    display: flex;
    margin-top: 157px;
    align-items: center;
    margin-bottom: 128px;
    .card_img {
      width: 640px;
      background: #ffffff;
      box-shadow: 0px 0px 16px rgba(16, 16, 16, 0.16);
      border-radius: 8px;
      height: 366px;
      padding: 56px 0px 54px 56px;
      position: relative;
      .except {
        width: 232px;
      }
      .tabl_img {
        position: absolute;
        top: 46px;
        right: 0px;
      }
      &:first-child {
        margin-right: 16px;
      }
      &:last-child {
        margin-left: 16px;
      }
      .title {
        position: relative;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        letter-spacing: 0.02em;
        color: #2d3543;
        display: inline-block;
        &:after {
          content: 'TM';
          position: absolute;
          top: 4px;
          right: -22px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0.02em;
          color: #2d3543;
        }
      }
      .sub_title {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #5a6372;
        margin-top: 5px;
        margin-bottom: 24px;
        position: relative;
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 24px;
        max-width: 350px;
        position: relative;
      }
      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #828282;
        margin-top: 24px;
        span {
          color: #3360ad;
          cursor: pointer;
        }
      }
    }
  }
  .browse {
    background: #f8f8fa;
    padding-top: 80px;
    position: relative;
    .title {
      width: 100%;
      text-align: center;
      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        color: #2d3543;
        margin-bottom: 24px;
      }
    }
    .all_products {
      margin-top: 52px;
      position: relative;
      .fade {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
