@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import './core/attributes.scss';

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfeff;
}

a {
  text-decoration: none;
  color: #3360ad;
  display: inline-block;
  position: relative;
  &.no-decoration {
    &::before {
      display: none;
    }
  }
  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform 300ms ease;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}
.main_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 64px;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #5a6372;
  margin-top: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
